<div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-4">My Blog</h1>

        <!-- Blog Post -->
        <% @articles.each do |article| %>
          <div class="card mb-4">
            <% if article.cover.attached? %>
              <img src="<%=(url_for(article.cover))%>">
            <% end %>
            <div class="card-body">
              <h2 class="card-title"><%= article.title %></h2>
              <p class="card-text"><%= article.text.slice(0, 750) %>... <%= link_to 'Read More', article_path(article)%> </p>
              <% if article.user == current_user %>
                <%= link_to 'Edit', edit_article_path(article), :class => "btn btn-outline-secondary" %>
                <%= link_to 'Delete', article_path(article),
                  method: :delete,
                  data: { confirm: 'Are you sure?' }, :class => "btn btn-outline-danger" %> 
              <% end %>
            </div>
            <div class="card-footer text-muted">
              Posted on January 1, 2020 by
              <a href="#"><%= article.user.email %></a>
            </div>
          </div>
        <% end %>

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        
        <div class="card my-4">
          <div class="btn btn-primary">
            <%= link_to 'New Article', new_article_path, :class => "btn btn-primary" %> 
          </div>
        </div>

        <div class="card my-4">
          <h5 class="card-header">Tags</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">Rails</a>
                  </li>
                  <li>
                    <a href="#">Ruby</a>
                  </li>
                  <li>
                    <a href="#">HTML</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">JavaScript</a>
                  </li>
                  <li>
                    <a href="#">CSS</a>
                  </li>
                  <li>
                    <a href="#">Bootstrap</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
